@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <h4>Create a new account.</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" maxlength="100" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" maxlength="100" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select custom-select" asp-for="Input.UserType">
                    <option selected value="">Select User Type</option>
                    <option value="Admin">Admin</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Radiologist">Radiologist</option>
                </select>
                <span asp-validation-for="Input.UserType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.ProfilePicture" class="w-100"></label>
                <img id="profilePicture" alt="profile" class="profile-picture" src="~/images/avatar-male.jpg" />
                <div class="custom-file mt-2">
                    <input type="file"
                           accept=".jpg, .jpeg , .png"
                           maxlength="4194304"
                           asp-for="Input.ProfilePicture"
                           class="custom-file-input"
                           onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                    <label class="custom-file-label" asp-for="Input.ProfilePicture">choose picture...</label>
                    <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
